:root {
    --font-family: "Montserrat", sans-serif;
}

ul {
    list-style-type: none;
}

#datetime-picker {
display: inline-block;
width: 272px;
height: 40px;
margin-left: 156px;
margin-top: 36px;
border-radius: 4px;
background-color: #fff;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #2e2f42;
}
button {
    display: inline-block;
    border-radius: 8px;
padding: 8px 16px;
width: 75px;
height: 40px;
}